<div mat-dialog-content>
  <div class="check_mark">
      <div class="sa-icon sa-success animate">
        <span class="sa-line sa-tip animateSuccessTip"></span>
        <span class="sa-line sa-long animateSuccessLong"></span>
        <div class="sa-placeholder"></div>
        <div class="sa-fix"></div>
      </div>
     
    </div>
<p *ngIf ="data">{{data.message}}</p>

</div>
<div mat-dialog-actions style="    width: 100%;
margin-top: 22%;">
  <button mat-raised-button color="primary" (click) ="onNoClick()" style ="width: 100%;">Ok</button>
</div>
