// Import Fuse main library
@import "app/core/scss/core";
*{
    font-family: "Lucida" Grande, sans-serif;

}
.mat-input-wrapper {
    font-size: 14px !important;
}

 .mat-form-field-wrapper {
    padding-bottom: 0.9em !important;
}
